{%- comment -%}
jaeitee Swatches (collection based)
{%- endcomment -%}

{%- liquid
  assign p = product
  assign swatch_collection_handle = blank

  for t in p.tags
    if t contains 'swatch-'
      assign swatch_collection_handle = t | remove: 'swatch-' | strip | handleize
      break
    endif
  endfor

  if swatch_collection_handle != blank and collections[swatch_collection_handle] != blank
    assign swatch_products = collections[swatch_collection_handle].products
  else
    assign swatch_products = blank
  endif
-%}

{%- if swatch_products != blank -%}
  <div class="jaeitee-swatches" data-jaeitee-swatches>
    {%- for sp in swatch_products limit: 60 -%}
      {%- if sp.featured_image != blank -%}
        <a class="jaeitee-swatch{% if sp.handle == p.handle %} is-active{% endif %}"
           href="{{ sp.url }}"
           aria-label="{{ sp.title | escape }}"
           title="{{ sp.title | escape }}">
          {{ sp.featured_image | image_url: width: 80 | image_tag: alt: sp.title, loading: 'lazy' }}
        </a>
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endif -%}
